:root {
  font-family: Geomanist, Arial, sans-serif;

  --background: white;
  --grey: #3E5062;
  --dark-grey: #2B3843;
  --light-grey: #B2B9C0;

}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}